<div class="container">

  <div class="d-flex justify-content-between">
    <h4>Ingresar generacion</h4>
    <a href="#" routerLink="/generaciones/index" class="btn btn-success">Regrear</a>
  </div>

  <hr/>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Generacion">Generacion:</label>
              <input
                formControlName="Generacion"
                id="Generacion"
                type="text"
                class="form-control">
              <div *ngIf="f.Generacion.touched && f.generacion.invalid" class="alert alert-danger">
                  <div *ngIf="f.generacion.errors.required">*Atributo requerido.</div>
                  <div *ngIf="f.generacion.errors.pattern">*The Atributo must only contain letters.</div>
              </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>


