<section>

    <div class="d-flex justify-content-between">
      <h4>Lista de alumnos</h4>
      <a routerLink="/person/create" class="btn btn-info">Registrar nuevo alumno</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>GENERACION</th>
        <th>MATRICULA</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th >EMAIL</th>
        <th>STATUS</th>
        <th>CURSO</th>
        <th>CALIFICACION</th>
        <!--
        <th width="220px">MODIFICAR</th>
        -->
      </tr>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.Generacion }}</td>
        <td>{{ person.Matricula }}</td>
        <td>{{ person.Nombre }}</td>
        <td>{{ person.Apellido }}</td>
        <td>{{ person.Email }}</td>
        <td>{{ person.Status }}</td>
        <td>{{ person.Curso }}</td>
        <td>{{ person.Calificacion }}</td>
        <td>
          <!-- Codigo de los botones Editar y borrar
          <a href="#" [routerLink]="['/person/', 'edit', person.id  ]" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deletePerson(person.id)" class="btn btn-danger">Borrar</button>
          -->
        </td>
      </tr>
    </table>
 </section>

