<div class="container">

    <div class="d-flex justify-content-between">
      <h4>Ingresar alumno</h4>
      <a href="#" routerLink="/cliente/index" class="btn btn-success">Regrear</a>
    </div>
  
    <hr/>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="Generacion">Generacion:</label>
                <input
                  formControlName="Generacion"
                  id="Generacion"
                  type="text"
                  class="form-control">
                <div *ngIf="f.Generacion.touched && f.Generacion.invalid" class="alert alert-danger">
                    <div *ngIf="f.Generacion.errors.required">*Atributo requerido.</div>
                    <div *ngIf="f.Generacion.errors.pattern">*The Atributo must only contain letters.</div>
                </div>
              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Matricula">Matricula:</label>
              <input
                formControlName="Matricula"
                id="Matricula"
                type="text"
                class="form-control">
              <div *ngIf="f.Matricula.touched && f.Matricula.invalid" class="alert alert-danger">
                  <div *ngIf="f.Matricula.errors.required">*Atributo requerido.</div>
                  <div *ngIf="f.Matricula.errors.pattern">*The Atributo must only contain numbers.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Nombre">Nombre:</label>
            <input
              formControlName="Nombre"
              id="Nombre"
              type="text"
              class="form-control">
            <div *ngIf="f.Nombre.touched && f.Nombre.invalid" class="alert alert-danger">
                <div *ngIf="f.Nombre.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Nombre.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Apellido">Apellido:</label>
            <input
              formControlName="Apellido"
              id="Apellido"
              type="text"
              class="form-control">
            <div *ngIf="f.Apellido.touched && f.Apellido.invalid" class="alert alert-danger">
                <div *ngIf="f.Apellido.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Apellido.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Status">Status:</label>
              <input
                formControlName="Status"
                id="Status"
                type="text"
                class="form-control">
              <div *ngIf="f.Status.touched && f.Status.invalid" class="alert alert-danger">
                  <div *ngIf="f.Status.errors.required">*Atributo requerido.</div>
                  <div *ngIf="f.Status.errors.pattern">*The Atributo must only contain letters.</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Curso">Curso:</label>
              <input
                formControlName="Curso"
                id="Curso"
                type="text"
                class="form-control">
              <div *ngIf="f.Curso.touched && f.Curso.invalid" class="alert alert-danger">
                  <div *ngIf="f.Curso.errors.required">*Atributo requerido</div>
                  <div *ngIf="f.Curso.errors.pattern">*The Atributo must only contain letters.</div>
              </div>
            </div>
          </div>
  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
      </form>
 </div>
  
