<div class="container">

    <div class="d-flex justify-content-between">
      <h4>Ingresar alumno</h4>
      <a href="#" routerLink="/cliente/index" class="btn btn-success">Regrear</a>
    </div>

    <hr/>

      <form [formGroup]="form" (ngSubmit)="submit()">

          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="Generacion">Generacion:</label>
                <br>
                <select formControlName="Generacion"
                id="Generacion"
                class="form-control form-control-alternative"
                aria-describedby="GeneracionFeedback" required>
             <!-- <option selected disabled value="">Generaciones</option> -->
                  <option>2020-2021N</option>
                  <option>2022-2022P</option>
               </select>

              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Matricula">Matricula:</label>
              <input
                formControlName="Matricula"
                id="Matricula"
                type="text"
                class="form-control">
              <div *ngIf="f.Matricula.touched && f.Matricula.invalid" class="alert alert-danger">
                  <div *ngIf="f.Matricula.errors.required">*Atributo requerido.</div>
                  <div *ngIf="f.Matricula.errors.pattern">*The Atributo must only contain numbers.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Nombre">Nombre:</label>
            <input
              formControlName="Nombre"
              id="Nombre"
              type="text"
              class="form-control">
            <div *ngIf="f.Nombre.touched && f.Nombre.invalid" class="alert alert-danger">
                <div *ngIf="f.Nombre.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Nombre.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Apellido">Apellido:</label>
            <input
              formControlName="Apellido"
              id="Apellido"
              type="text"
              class="form-control">
            <div *ngIf="f.Apellido.touched && f.Apellido.invalid" class="alert alert-danger">
                <div *ngIf="f.Apellido.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Apellido.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Status">Status:</label>
              <br>
                <select formControlName="Status"
                id="Status"
                class="form-control form-control-alternative"
                aria-describedby="StatusFeedback" required>
              <!--<option selected disabled value="">Status</option> -->
                  <option>Activo</option>
                  <option>Baja</option>
                  <option>Baja Temporal</option>
                  <option>Baja Definitiva</option>

               </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Curso">Curso:</label>
              <br>
                <select formControlName="Curso"
                id="Curso"
                class="form-control form-control-alternative"
                aria-describedby="CursoFeedback" required>
            <!-- <option selected disabled value="">Cursos</option> -->
                  <option>CCNA_1</option>
                  <option>CCNA_2</option>
                  <option>CCNA_3</option>
                  <option>CCNA_4</option>

               </select>
            </div>
          </div>

          <button class="btn btn-primary" >Guardar</button>
      </form>
 </div>



