<div class="container">

    <div class="d-flex justify-content-between">
      <h4>Ingresar alumno</h4>
      <a href="#" routerLink="/cliente/index" class="btn btn-success">Regrear</a>
    </div>

    <hr/>

      <form [formGroup]="form" (ngSubmit)="submit()">

          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="Generacion">Generacion:</label>
                <br>
                <select name="OS">
                  <option value="1">20202021N</option>

               </select>



              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Matricula">Matricula:</label>
              <input
                formControlName="Matricula"
                id="Matricula"
                type="text"
                class="form-control">
              <div *ngIf="f.Matricula.touched && f.Matricula.invalid" class="alert alert-danger">
                  <div *ngIf="f.Matricula.errors.required">*Atributo requerido.</div>
                  <div *ngIf="f.Matricula.errors.pattern">*The Atributo must only contain numbers.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Nombre">Nombre:</label>
            <input
              formControlName="Nombre"
              id="Nombre"
              type="text"
              class="form-control">
            <div *ngIf="f.Nombre.touched && f.Nombre.invalid" class="alert alert-danger">
                <div *ngIf="f.Nombre.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Nombre.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="Apellido">Apellido:</label>
            <input
              formControlName="Apellido"
              id="Apellido"
              type="text"
              class="form-control">
            <div *ngIf="f.Apellido.touched && f.Apellido.invalid" class="alert alert-danger">
                <div *ngIf="f.Apellido.errors.required">*Atributo requerido.</div>
                <div *ngIf="f.Apellido.errors.pattern">*The Atributo must only contain letters.</div>
            </div>
          </div>
        </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Status">Status:</label>
              <br>
                <select name="OS">
                  <option value="1">Activo</option>
                  <option value="2">Activa</option>
                  <option value="3">Baja Temporal</option>
                  <option value="4">Baja Definitiva</option>

               </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 ">
              <label for="Curso">Curso:</label>
              <br>
                <select name="OS">
                  <option value="1">CCNA_1_20202021N</option>
                  <option value="2">CCNA_2_20202021N</option>

               </select>
            </div>
          </div>

          <button class="btn btn-primary" >Guardar</button>
      </form>
 </div>

